@layer base {
  :root {
    --textclr: #ffffff;
    html {
      box-sizing: border-box;
    }
    *,
    *:before,
    *:after {
      box-sizing: border-box;
    }
    * {
      margin: 0;
      padding: 0;
    }
    body {
      font-family: sans-serif;
      color: var(--textclr);
    }
    .wrapper {
      background-image: url("./images/bg_img.png");
      /* background-attachment: fixed; */
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
    }
    ul {
      list-style-type: none;
    }
    a {
      text-decoration: none;
    }
  }
}
@layer nav {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-inline: 20px;
    align-items: center;
  }
  nav ul {
    display: flex;
    gap: 5px;
  }
  nav ul li a {
    color: var(--textclr);
  }
  .logo--text {
    font-weight: 600;
    font-size: 1.2rem;
  }
  .menu {
    border: 1px solid var(--textclr);
    color: black;
    padding: 7px 12px;
    background-color: var(--textclr);
    border-radius: 20px;
  }
}
@layer texts {
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    min-width: 350px;
    max-width: 1200px;
    width: 100%;
    text-align: center;
  }
  .center--text {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 5px;
  }
  .center h5 {
    line-height: 1.3rem;
    min-width: 200px;
    max-width: 650px;
  }
}
