@layer base {
  :root {
    --textclr: #ffffff;
    html {
      box-sizing: border-box;
    }
    *,
    *:before,
    *:after {
      box-sizing: border-box;
    }
    * {
      margin: 0;
      padding: 0;
    }
    body {
      font-family: sans-serif;
      color: var(--textclr);
    }
    .wrapper {
      background-image: url("./images/bg_img.png");
      /* background-attachment: fixed; */
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
    }
    ul {
        list-style-type: none;
    }
    a {
        text-decoration: none;
    }
  }
}
@layer nav {
    nav {
        display: flex;
        justify-content: space-between;
        border: 2px solid;
        padding: 20px;
        padding-inline: 20px;
        align-items: center;
    }
    nav ul {
        display: flex;
        gap: 10px;
    }
    nav ul li a {
        color: var(--textclr);
    }
    .logo--text {
        font-weight: 600;
        font-size: 1.2rem;
    }
}
